[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = false
name = "pypi"


[packages]

requests = "*"
"beautifulsoup4" = "*"
sanic = "*"
sanic-cors = "*"
isodate = "*"


[dev-packages]

pylint = "*"